.blog-wrapper {
  position: relative;
  max-width: 72rem;
  margin: auto;
  padding: 1.5rem;

  .card {
    position: relative;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    background: white;
    border-radius: 0.5rem;
    transition: transform .1s;
    border: 1px solid lightgray;
  }

  .card:hover {
    transform: scale(1.025);
  }
}



