.blog-wrapper {
  position: relative;
  max-width: 72rem;
  margin: auto;
  padding: 1.5rem;

  .card {
    position: relative;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1.5rem 0 1.5rem;
    background: white;
    border-radius: 0.5rem;
    transition: transform .1s;
    border: 1px solid lightgray;
  }

  .card:hover {
    transform: scale(1.025);
  }

  .paginator .next {
    float: right;
  }
}

.blog-single {
  position: relative;
  max-width: 86rem;
  margin: auto;
  padding: 1.5rem;

  .blog-toc {
    // TODO:add sticky on right side
    //position: -webkit-sticky;
    //position: sticky;
    top: 4rem;
    height: auto;
    overflow-y: auto;

    ul {
      padding-left: 0;
      list-style: none;
    }

    li {
      margin-top: 0.375rem;
      padding-top: 0.375rem;
    }

    li ul li {
      border-top: none;
      padding-left: 3rem;
      margin-top: 0.125rem;
      padding-top: 0.125rem;
    }

    li:not(:first-child) {
      border-top: 1px dashed $gray-200;
    }

    a {
      color: $fg-color;
      display: block;
      font-size: 1.50rem;
    }

    a:hover {
      text-decoration: none;
      color: $fg-color;
    }
  }

  .paginator .next {
    float: right;
  }
}







