.blog-wrapper {
  position: relative;
  max-width: 72rem;
  margin: auto;
  padding: 1.5rem;

  .card {
    position: relative;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1.5rem 0 1.5rem;
    background: white;
    border-radius: 0.5rem;
    transition: transform .1s;
    border: 1px solid lightgray;
  }

  .card:hover {
    transform: scale(1.025);
  }

  .paginator .next {
    float: right;
  }
}

.blog-single {
  position: relative;
  max-width: 72rem;
  margin: auto;
  padding: 1.5rem;

  .post-title {
    margin-bottom: 8rem;

    p {
      display: flex;
      margin-bottom: 1.5rem;
      font-size: 1.6rem;
      transform: translateY(0.4rem);
    }

    p span::before {
      content: '·';
      margin-inline: 0.8rem;
    }

    h1 {
      font-size: 5rem;
      transform: translateX(-0.3rem);
    }
  }

  .paginator .next {
    float: right;
  }
}







