.navigation {
  height: 6rem;
  margin: 1rem auto;
  max-width: 80rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  @media only screen and (max-width: 768px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 3rem;
  }

  a,
  span {
    display: inline;
    font-size: 1.7rem;
    font-family: $font-family;
    font-weight: 600;
    color: $fg-color;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  i {
    color: $fg-color;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .navigation-brand {
    float: left;
    letter-spacing: 0.1rem;
  }

  .navigation-list {
    float: left;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;

    @media only screen and (max-width: 768px) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .navigation-item {
      float: left;
      margin: 0;
      position: relative;

      a,
      span {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        @media only screen and (max-width: 768px) {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }
      }
    }

    .navigation-item:hover {
      background: $gray-200;
      border-radius: 0.5rem;
    }
  }

  .navigation-right {
    display: flex;
    float: right;

    .navigation-social {
      list-style: none;
      margin-bottom: 0;
      margin-top: 0.3rem;

      @media only screen and (max-width: 768px) {
        position: relative;
        top: 2rem;
        right: 0;
        z-index: 5;
        visibility: hidden;
        opacity: 0;
        padding: 0;
        max-height: 0;
        width: 100%;
        background-color: $bg-color;
        border-top: solid 2px $alt-bg-color;
        border-bottom: solid 2px $alt-bg-color;
        transition: opacity 0.25s, max-height 0.15s linear;
      }

      .navigation-item {
        float: left;
        a,
        span {
          margin-left: 1rem;
          margin-right: 1rem;
        }

        @media only screen and (max-width: 768px) {
          float: none !important;
          text-align: center;
          a,
          span {
            line-height: 5rem;
          }
        }
      }
    }

    #mode {
      margin-left: 1rem;
      float: right;
      cursor:pointer;
    }

    .language-item {
      list-style: none;
      margin-left: 2rem;

      @media only screen and (max-width: 768px) {
        margin-left: 0.5rem;
      }
    }
  }

  .btn-link {
    border: none;
    background: none;
  }

  .toggle-dark {
    display: block;
  }

  .toggle-dark:hover {
    //color: $color-dark-blue;
  }

  .toggle-light {
    display: none;
  }
}
