.home {
  width: 100%;

  .avatar img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    display: block;

    @media only screen and (max-width: 768px) {
      margin-top: 5rem;
    }
  }

  .intro {
    margin-top: 2rem;
    text-align: center;
  }
}