{{ define "content" }}
<div class="blog-wrapper">
  <div>
    <div class="card-list">
      {{ range .Paginator.Pages }}
        <article>
          <div class="card">
              <h3><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></h3>
              <p>
                <small>
                  {{ .PublishDate.Format "January 2, 2006" }}&nbsp;&hyphen;&nbsp;<strong>{{ .ReadingTime -}}&nbsp;min read</strong>
                </small>
                <small>
                  {{ range (.GetTerms "tags") }}
                  <small><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></small>
                  {{ end }}
                </small>
              <p>
              {{ .Summary }}
              <a href="{{ .RelPermalink }}">Read More…</a>
          </div>
        </article>
      {{ end -}}
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</div>
{{ end }}