{{ define "content" }}
<div class="blog-wrapper">
  <div>
    <div class="card-list">
      {{ range .Paginator.Pages }}
        <article>
          <div class="card">
              <h3><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></h3>
              <p>
                <small>
                  {{ .PublishDate.Format "January 2, 2006" }}&nbsp;· {{ .ReadingTime -}}&nbsp;min
                </small>
                <small>
                  {{ with .GetTerms "tags"}}
                    ·
                  {{ end }}
                  {{ range (.GetTerms "tags") }}
                  <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                  {{ end }}
                </small>
              <p>
              {{ .Summary }}
          </div>
        </article>
      {{ end -}}
    </div>
    {{ if gt .Paginator.TotalPages 1 }}
    <div class="paginator">
      {{ if .Paginator.HasPrev }}
      <a class="prev" href="{{ .Paginator.Prev.URL }}">&larr; Pre Page</a>
      {{ end }}
      {{ if .Paginator.HasNext }}
      <a class="next" href="{{ .Paginator.Next.URL }}">Next Page &rarr;</a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}