{{ define "main" }}
<div class="blog-wrapper">
  <div>
    <article>
      <div class="text-center">{{ .Content }}</div>
      <div class="card-list">
        {{ $paginator := .Paginate (.Data.Pages) -}}
        {{ range $paginator.Pages -}}
        <div class="card">
          <div class="card-body">
            <h2 class="h3"><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
            <p>
              <small>
                {{ .PublishDate.Format "January 2, 2006" }}&nbsp;&hyphen;&nbsp;<strong>{{ .ReadingTime -}}&nbsp;min read</strong>
              </small>
              <small>
                {{ range (.GetTerms "tags") }}
                <small><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></small>
                {{ end }}
              </small>
            <p>

          </div>
        </div>
        {{ end -}}
        {{ $.Scratch.Set "paginator" true }}
        {{ template "_internal/pagination.html" . }}
      </div>
    </article>
  </div>
</div>
{{ end }}