{{ define "content" }}
<article class="blog-single">
  <header class="blog-title">
    <h1>{{ .Title }}</h1>
  </header>

  {{ partial "blog/meta.html" . }}

  <div class="blog-toc">
    {{ partial "blog/toc.html" . }}
  </div>

  <section class="blog-content">{{ .Content }}</section>

  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ if and (gt (len $pages) 1) (in $pages . ) }}
  <div class="paginator">
    {{ with $pages.Next . }}
    <a class="prev" href="{{ .Permalink }}"><span>&larr;&nbsp;&nbsp;</span><span>{{ .Name }}</span></a>
    {{ end }}
    {{ with $pages.Prev . }}
    <a class="next" href="{{ .Permalink }}"><span>{{ .Name }}</span><span>&nbsp;&nbsp;&rarr;</span></a>
    {{ end }}
  </div>
  {{ end }}
</article>

{{ if .Site.Params.comments.enable }}
<div class="comments">
  <script>
      const getTheme = window.localStorage && window.localStorage.getItem("theme");
      // getTheme = getTheme == null ? '{{$.Site.Params.defaultTheme}}' : getTheme;

      let theme = getTheme === 'dark' ? 'github-dark' : 'github-light';
      let s = document.createElement('script');
      s.src = 'https://utteranc.es/client.js';
      s.setAttribute('repo', '{{ .Site.Params.comments.repo }}');
      s.setAttribute('issue-term', '{{ .Site.Params.comments.issueTerm }}');
      s.setAttribute('theme', theme);
      s.setAttribute('crossorigin', 'anonymous');
      s.setAttribute('async', '');
      document.querySelector('div.comments').innerHTML = '';
      document.querySelector('div.comments').appendChild(s);
  </script>
</div>
{{ end }}
{{ end }}