{{ define "content" }}

{{- if .Title }}
<div class="tags">
  <header class="tags-header">
    <h1>{{ .Title }}</h1>
  </header>
  {{- end }}

  <ul class="tags-list">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
      <a href="{{ .Permalink }}">{{ .Name }}({{ $count }})</a>
    </li>
    {{- end }}
    {{- end }}
  </ul>
</div>

{{- end }}{{/* end main */ -}}
