<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/default.min.css">-->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/github.min.css">-->
<!--<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/highlight.min.js"></script>-->

{{ $app := resources.Get "js/app.js" -}}
{{ $slice := slice $app -}}

{{ if .Site.Params.options.showDarkMode -}}
  {{ $darkMode := resources.Get "js/darkmode.js" -}}
  {{ $darkMode := $darkMode | js.Build -}}
  {{ $slice = $slice | append $darkMode -}}
{{ end -}}

{{ $js := $slice | resources.Concat "main.js" -}}

{{ $js := $js | minify | fingerprint "sha512" -}}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>