// Color system

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


// Colors
$bg-color: white;
$fg-color: #212121;
$alt-bg-color: #e0e0e0;
$alt-fg-color: #000;
$darker-alt-bg-color: #ccc;
$link-color: black;
$font-highlight-color: #ed4759;
$font-highlight-bg-color: #ededeb;
$code-bg-color-light: #f7f6f3;
$gray-archives-meta: #6C6C6C;
$code-bg-color-dark: #0e1116;
$code-copy-button: #e952a6;

// Dark colors
$bg-color-dark: #212121;
$fg-color-dark: #dadada;
$alt-bg-color-dark: #424242;
$alt-fg-color-dark: #dadada;
$lighter-alt-bg-color-dark: #4f4f4f;
$link-color-dark: #42a5f5;


// Fonts
$font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
Helvetica,
"PingFang SC",
STXihei,"华文细黑",
"Microsoft YaHei","微软雅黑",
SimSun,"宋体",
Heiti,"黑体",
sans-serif;
$code-font-family: SFMono-Regular,
Consolas,
Liberation Mono,
Menlo,
monospace;